<%- include("partials/header.ejs") %>
<body>
  <a href="/create-post">
    <button>Create New Post</button>
  </a>

  <% if (locals.titles && locals.articles && titles.length > 0) { %> 
    <% titles.forEach( (title, index) => {  %>
    <h2> <%= title %></h2>
    <p> <%= articles[index]  %></p>
    <% }) %>
  <% } else { %> 
        <h2>No blog is created, let's create your first blog!!!</h2>
    <% } %>
  <%- include("partials/footer.ejs") %>
</body>
