<%- include("partials/header.ejs") %>
<body>
  <ul>
    <li>
      <a href="/create-post">
        <button>Create New Post</button>
      </a>
    </li>
  </ul>

  <%- include("partials/footer.ejs") %>
</body>
